<div class="row justify-content-center md-3">
  <div class="col-md-4 text-center">
    <h1 class="text-uppercase text-danger mt-5">Todos</h1>
    <p class="text-info">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil, maxime.
    </p>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="" class="form-inline">
      <div class="row">
        <div class="col-md-10 form-group">
          <input
            type="text"
            placeholder="Add New Todos here..."
            name="categoryName"
            class="form-control-plaintext drop-shadow"
          />
        </div>
        <button class="col-md-2 btn btn-danger btn-block btn-todo drop-shadow">
          Add
        </button>
      </div>
    </form>
  </div>
</div>

<div class="row justify-content-center todo-lists">
  <div class="col-md-6">
    <div class="card">
      <div class="card-body">
        <div class="clearfix">
          <div class="float-start">
            <span>
              <i class="fa-regular fa-circle text-danger"></i>
            </span>
            <span>
              <i class="fa-solid fa-check text-success"></i>
            </span>
            New todo
          </div>
          <div class="float-end">
            <span>
              <i class="fa-regular fa-circle-check text-success"></i>
            </span>
            <span>
              <i class="fa-regular fa-circle-xmark text-danger"></i>
            </span>
            <div class="todo-tools">
              <small>
                <i class="fa-solid fa-pencil text-warning"></i>
              </small>
              <small>
                <i class="fa-solid fa-trash text-danger"></i>
              </small>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
