.todo-lists {
  margin-top: 50px;
}
.todo-lists .card {
  border: none;
  background-color: #f8f8f8;
  margin-top: 5px;
  transition: all linear 0.3s;
}
.todo-lists span {
  padding: 5px;
  cursor: pointer;
}
.todo-tools {
  display: none;
}
.todo-tools small {
  margin: 0 5px;
  cursor: pointer;
}
.todo-lists .card:hover {
  cursor: pointer;
  width: 635px;
  height: 80px;
  background-color: #e8e7e7;
  border-top-left-radius: 30px;
  border-bottom-right-radius: 30px;
}
.todo-lists .card:hover .todo-tools {
  display: inline;
}
.isComplete {
  text-decoration: line-through;
  opacity: 0.5;
}
